<web-app>
    <servlet>
        <servlet-name>MostrarCustomer</servlet-name>
        <servlet-class>MostrarCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete1</servlet-name>
        <servlet-class>Delete1</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>MisAlquileres</servlet-name>
        <servlet-class>MisAlquileres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPedido</servlet-name>
        <servlet-class>ModificarPedido</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>Reserva</servlet-name>
        <servlet-class>Reserva</servlet-class>
    </servlet>

<servlet>
  <servlet-name>IntroducirPedido</servlet-name>
  <servlet-class>IntroducirPedido</servlet-class>
</servlet>
<servlet>
  <servlet-name>JDBCCampaigns</servlet-name>
  <servlet-class>JDBCCampaigns</servlet-class>
</servlet>
<servlet>
  <servlet-name>JDBCBestseller</servlet-name>
  <servlet-class>JDBCBestseller</servlet-class>
</servlet>


<servlet>
  <servlet-name>MostrarAssets</servlet-name>
  <servlet-class>MostrarAssets</servlet-class>
</servlet>

 <servlet>
        <servlet-name>Trabajadores</servlet-name>
        <servlet-class>Trabajadores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>total</servlet-name>
        <servlet-class>total</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insertar</servlet-name>
        <servlet-class>Insertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordChange</servlet-name>
        <servlet-class>PasswordChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowInfoEmployees</servlet-name>
        <servlet-class>ShowInfoEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save</servlet-name>
        <servlet-class>Save</servlet-class>
    </servlet>

<servlet-mapping>
  <servlet-name>Insertar</servlet-name>
  <url-pattern>/Insertar</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>JDBCCampaigns</servlet-name>
  <url-pattern>/JDBCCampaigns</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>total</servlet-name>
  <url-pattern>/total</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>JDBCBestseller</servlet-name>
  <url-pattern>/JDBCBestseller</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>IntroducirPedido</servlet-name>
  <url-pattern>/IntroducirPedido</url-pattern>
</servlet-mapping>



<servlet-mapping>
  <servlet-name>MostrarAssets</servlet-name>
  <url-pattern>/MostrarAssets</url-pattern>
</servlet-mapping>

<servlet-mapping>
        <servlet-name>Trabajadores</servlet-name>
        <url-pattern>/Trabajadores</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MisAlquileres</servlet-name>
        <url-pattern>/MisAlquileres</url-pattern>
    </servlet-mapping>


    
    <servlet-mapping>
        <servlet-name>Reserva</servlet-name>
        <url-pattern>/Reserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPedido</servlet-name>
        <url-pattern>/ModificarPedido</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MostrarCustomer</servlet-name>
        <url-pattern>/MostrarCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete1</servlet-name>
        <url-pattern>/Delete1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordChange</servlet-name>
        <url-pattern>/PasswordChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowInfoEmployees</servlet-name>
        <url-pattern>/ShowInfoEmployees</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>Save</servlet-name>
        <url-pattern>/Save</url-pattern>
    </servlet-mapping>
</web-app>